<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibbler.email2sms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".MyScheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".MyStartServiceReceiver">
        </receiver>

        <service
            android:name=".BackgroundEmailCheck"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/ic_action_email"
            />

        <activity
            android:name="com.nibbler.email2sms.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nibbler.email2sms.LogViewActivity"
            android:label="@string/logview_activity"
            android:parentActivityName="com.nibbler.email2sms.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.MainActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.SettingsActivity"
            android:label="@string/settings_activity"
            android:parentActivityName="com.nibbler.email2sms.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.MainActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.AddressesListActivity"
            android:label="@string/addresses_list_activity"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.ExcludedListActivity"
            android:label="@string/excluded_list_activity"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.POP3SettingsActivity"
            android:label="@string/pop3settings_activity"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.TimetableActivity"
            android:label="@string/timetable_layout"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.GeneralSettingsActivity"
            android:label="@string/general_settings"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nibbler.email2sms.UnreadSymbolsActivity"
            android:label="@string/unread_symbols"
            android:parentActivityName="com.nibbler.email2sms.SettingsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibbler.email2sms.SettingsActivity" />
        </activity>
    </application>

</manifest>
